* {
  font-size: 14px;
}

.row__mission, .row__bonus {
  display: flex;
}

.schedule {
  width: 100vw;
  overflow: auto
}

.input-wrapper {
  box-sizing: border-box;
  border-radius: 8px;
  background: rgb(237, 240, 240);
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 1.5rem;
}

.btn-input {
  border: none;
  border-radius: 100%;
  background: lightskyblue;
  font-size: 8pt;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
