* {
  font-size: 14px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main {
  width: 80%;
  background-color: aquamarine;
}

.row__tier,
.row__mission,
.row__bonus {
  display: flex;
  gap: 10px;
}

.card {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-direction: column;
  background: rgb(225, 238, 244);
  border-radius: 8px;
  padding: 8px 10px;
  gap: 6px;
}

.schedule {
  display: flex;
  width: 100%;
  gap: 12px;
}

.card-container {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  overflow: auto;
}

.card > div {
  background: white;
  border-radius: 6px;
}

.btn-card {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(230, 230, 230);
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
}

.input-wrapper {
  box-sizing: border-box;
  border-radius: 8px;
  background: rgb(237, 240, 240);
  padding: 4px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 1.5rem;
}

.btn-input {
  border: none;
  border-radius: 100%;
  background: lightskyblue;
  font-size: 8pt;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

input {
  background: transparent;
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
