.grid-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 75px 60px 25px 60px;
  grid-template-rows: auto 30px 30px 30px 30px;
  width: 100%;
  gap: 10px 5px;
  padding: 8px;
  text-align: center;
  align-items: center;
}

.grid-container2 {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto 30px 30px 30px 30px;
  width: 100%;
  gap: 10px 5px;
  padding: 8px;
  text-align: center;
}

.conditions input, .conditions label {
  cursor: pointer;
}

.input-container {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  padding: 0px 4px;
}

.input-container>input {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  background: transparent;
  padding: 0;
  text-align: center;
}

.test-area {
  display: none;
}

.notice {
  font-weight: 700;
  color: #FF5733;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal__inactive {
  display: none;
}

.modal-background {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.7;
}

.modal-foreground {
  box-sizing: border-box;
  z-index: 15;
  width: 95%;
  background: white;
  border-radius: 8px;
  padding: 36px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.modal-option {
  display: flex;
  flex-direction: column;
}

.modal-foreground button {
  border: none;
  border-radius: 6px;
  color: white;
  background-color: rgb(19, 93, 213);
  margin: 0px 8px;
  padding: 6px 10px;
  width: 120px;
  cursor: pointer;
}

.modal-foreground h2 {
  font-size: 1.5rem;
  margin: 0;
}

.modal-foreground h3 {
  font-size: 1.2rem;
  margin: 0;
}

.modal-header>div {
  display: flex;
}

#close-modal {
  cursor: pointer;
}

@media (min-width: 800px) {
  .grid-container2 {
    grid-template-columns: 100px auto;
  }

  .modal-foreground {
    width: 500px;
  }
}
